$primarycolor: #BFB1B1;
$secondarycolor: #D9D9D9;


$shadow: -2px 10px 9px 0 rgba(0, 0, 0, 0.747);

$btn-bg-hover: #4caf50;
$padding-standard: 20px;
$font-size-p: 1rem;
$font-size-sm: 1.3rem;
$font-size-med: 1.6rem;
$font-size-lg: 3rem;
$font-size-xlg: 5rem;

$font-family-nav: 'poppins';
$font-family-p: 'monserrat';
$font-family-h1: 'Times New Roman', Times, serif;
$font-family-h2: 'sahitya';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: $font-size-xlg;
    font-family: $font-family-h1;
    font-weight: bold;
    padding-top: $padding-standard;
    padding-left: $padding-standard;
}

h2 {
    font-size: $font-size-lg;
    font-family: $font-family-h2;
}

p {
    font-family: $font-family-p;
    z-index: 1;
    font-size: $font-size-p;
}

a {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding-left: 10px;
}

header {
    background-color: $primarycolor;
    width: 100%;
    padding-bottom: 135px;
    z-index: 0;

    .main-nav {
        display: inline-block;
        margin: 5px;

        a {
            color: black;
            font-family: $font-family-nav;
            font-size: 1.5rem;
            width: auto;
            font-style: italic;
            margin-top: 5px;
        }
    }
}

Select {
    @extend a;
    border: none;
    background-color: transparent;
}

.section1 {
    box-shadow: $shadow;

    .aboutme {
        background-color: $secondarycolor;
        width: 100%;
        height: auto;
    }
}

.footer-aboutme {
    font-size: $font-size-sm;
    padding: 0 45px 20px 15px;
    background-color: $secondarycolor;
    margin-bottom: $padding-standard;

    img {
        width: 20px;
        height: auto;
        border-radius: 2px;
        display: inline;
        margin-top: 13px;
    }
}

.section2 {
    .projects {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .body-projects {
            margin-right: 5%;
            margin-bottom: $padding-standard;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .projects-tab {
                width: 250px;
                height: auto;
                margin: $padding-standard;
                position: relative;

                li {
                    margin-top: -15px;
                }
                ul {
                    margin: 10%;
                    padding-left: 25px;
                }
                figcaption {
                    margin-left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    font-size: 16px;
                    text-align: center;
                    opacity: 0;
                    transition: opacity 0.5s ease;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 0.5s ease, filter 0.5s ease;
                    border: black solid 2px;
                }

                &:hover img {
                    transform: scale(1.1);
                    filter: opacity(0.5) blur(5px);
                }

                &:hover figcaption {
                    opacity: 1;
                    color: black;
                }
            }
        }
    }
}

.section3 {
    .contact {
        footer {
            justify-content: left;
            border: black solid 2px;
            background-color: $secondarycolor;

            form {
                margin-left: $padding-standard;

                input{
                    width: 75%;
                    margin-bottom: 20px;
                }

                textarea{
                    width: 85%;
                }

                #button {
                    font-size: xx-large;
                    background-color: black;
                    color: white;
                    transition-duration: 0.4s;
                    width: 85%;
                    height: 55px;
                    margin-bottom: $padding-standard;
                    font-family: $font-family-p;
                    font-weight: bold;
                }

                #button:hover {
                    background-color: $btn-bg-hover;
                    color: white;
                }
            }
        }
    }
}

@media (min-width: 320px) {
    p {
        padding: $padding-standard $padding-standard 0 $padding-standard;
    }

    h1 {
        font-size: $font-size-lg;
    }

    .header-aboutme {
        position: absolute;
        left: 35%;
        top: 10%;
        z-index: 1;

        .profile-image {
            width: 200px;
            height: auto;
            border-radius: 50%;
            border: solid 2px black;
            box-shadow: $shadow;
            margin-bottom: $padding-standard;
        }
    }

    form{
        label{
            font-size: $font-size-sm;
        }
    }
}



@media (min-width: 768px) {
    h1 {
        font-size: $font-size-lg;
    }

    
    .body-aboutme{
        h1{
            font-size: $font-size-lg;
        }
        p{
            font-size: $font-size-med;
        }}

    .header-aboutme {
        position: absolute;
        left: 55%;
        top: 5%;
        z-index: 1;

        .profile-image {
            width: 235px;
            height: auto;
            border-radius: 50%;
            border: solid 2px black;
            box-shadow: $shadow;
            margin-bottom: $padding-standard;
        }
    }

    .projects-tab p {
        padding-top: $padding-standard;
        font-size: 1.37rem;
    }

    a {
        font-size: 15px;
        padding-top: $padding-standard;
    }

    header {
        background-color: $primarycolor;
        width: 100%;
        padding: 5px $padding-standard 135px $padding-standard;
        z-index: 0;

        .main-nav {
            display: inline-block;

            a {
                color: black;
                font-family: $font-family-nav;
                font-size: 20px;
                font-weight: bold;
                font-style: italic;
                letter-spacing: 4%;
            }
        }
    }

    form{
        label{
            font-size: $font-size-med;
        }
    }
}

@media (min-width: 1024px) {
    body {
        font-size: $font-size-lg;
    }
    
    .body-aboutme{
        h1{
            font-size: $font-size-lg;
        }
        p{
            font-size: $font-size-med;
        }
    }
    .header-aboutme {
        position: absolute;
        left: 65%;
        top: 2%;
        z-index: 1;

        .profile-image {
            width: 280px;
            height: auto;
            border-radius: 50%;
            border: solid 2px black;
            box-shadow: $shadow;
            margin-bottom: $padding-standard;
        }
    }

    a {
        font-size: 20px;
        padding-top: $padding-standard;
    }

    p {
        font-size: $font-size-lg;
    }
}
