* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 75.5%;
}

h1 {
  font-size: 5rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 5px;
}

h2 {
  font-size: 3rem;
  font-family: "sahitya";
}

p {
  font-family: "monserrat";
  z-index: 1;
  font-size: 1rem;
}

a, Select {
  position: relative;
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding-left: 10px;
}

header {
  background-color: #BFB1B1;
  width: 100%;
  padding-bottom: 135px;
  z-index: 0;
}
header .main-nav {
  display: inline-block;
  margin: 5px;
}
header .main-nav a, header .main-nav Select {
  color: black;
  font-family: "poppins";
  font-size: 1.5rem;
  width: auto;
  font-style: italic;
  margin-top: 5px;
}

Select {
  border: none;
  background-color: transparent;
}

.section1 {
  box-shadow: -2px 10px 9px 0 rgba(0, 0, 0, 0.747);
}
.section1 .aboutme {
  background-color: #D9D9D9;
  width: 100%;
  height: auto;
}

.footer-aboutme {
  font-size: 1.3rem;
  padding: 0 45px 20px 15px;
  background-color: #D9D9D9;
  margin-bottom: 5px;
}
.footer-aboutme img {
  width: 20px;
  height: auto;
  border-radius: 2px;
  display: inline;
  margin-top: 13px;
}

.section2 .projects {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section2 .projects .body-projects {
  margin-right: 5%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section2 .projects .body-projects .projects-tab {
  width: 250px;
  height: auto;
  margin: 5px;
  position: relative;
}
.section2 .projects .body-projects .projects-tab li {
  margin-top: -15px;
}
.section2 .projects .body-projects .projects-tab ul {
  margin: 10%;
  padding-left: 25px;
}
.section2 .projects .body-projects .projects-tab figcaption {
  margin-left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 16px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.section2 .projects .body-projects .projects-tab img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease, filter 0.5s ease;
  border: black solid 2px;
}
.section2 .projects .body-projects .projects-tab:hover img {
  transform: scale(1.1);
  filter: opacity(0.5) blur(5px);
}
.section2 .projects .body-projects .projects-tab:hover figcaption {
  opacity: 1;
  color: black;
}

.section3 .contact footer {
  justify-content: left;
  border: black solid 2px;
  background-color: #D9D9D9;
}
.section3 .contact footer form {
  margin-left: 5px;
}
.section3 .contact footer form input {
  width: 75%;
  margin-bottom: 20px;
}
.section3 .contact footer form textarea {
  width: 85%;
}
.section3 .contact footer form #button {
  font-size: xx-large;
  background-color: black;
  color: white;
  transition-duration: 0.4s;
  width: 85%;
  height: 55px;
  margin-bottom: 5px;
  font-family: "monserrat";
  font-weight: bold;
}
.section3 .contact footer form #button:hover {
  background-color: #4caf50;
  color: white;
}

@media (min-width: 320px) {
  p {
    padding: 15px 20px 0 15px;
    font-size: "monserrat";
  }
  h1 {
    font-size: 3rem;
  }
  .header-aboutme {
    position: absolute;
    left: 35%;
    top: 10%;
    z-index: 1;
    list-style-type: none;
  }
  .header-aboutme .profile-image {
    width: 185px;
    height: auto;
    border-radius: 50%;
    border: solid 2px black;
    box-shadow: -2px 10px 9px 0 rgba(0, 0, 0, 0.747);
    margin-bottom: 5px;
  }
  form label {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  .body-aboutme h1 {
    font-size: 3rem;
  }
  .body-aboutme p {
    font-size: 1.6rem;
  }
  .header-aboutme {
    position: absolute;
    left: 55%;
    top: 5%;
    z-index: 1;
  }
  .header-aboutme .profile-image {
    width: 235px;
    height: auto;
    border-radius: 50%;
    border: solid 2px black;
    box-shadow: -2px 10px 9px 0 rgba(0, 0, 0, 0.747);
    margin-bottom: 5px;
  }
  .projects-tab p {
    padding-top: 20px;
    font-size: 1.37rem;
  }
  a, Select {
    font-size: 15px;
    padding-top: 5px;
  }
  header {
    background-color: #BFB1B1;
    width: 100%;
    padding: 5px 5px 135px 5px;
    z-index: 0;
  }
  header .main-nav {
    display: inline-block;
  }
  header .main-nav a, header .main-nav Select {
    color: black;
    font-family: "poppins";
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 4%;
  }
  form label {
    font-size: 1.6rem;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 3rem;
  }
  .body-aboutme h1 {
    font-size: 3rem;
  }
  .body-aboutme p {
    font-size: 1.6rem;
  }
  .header-aboutme {
    position: absolute;
    left: 65%;
    top: 2%;
    z-index: 1;
  }
  .header-aboutme .profile-image {
    width: 280px;
    height: auto;
    border-radius: 50%;
    border: solid 2px black;
    box-shadow: -2px 10px 9px 0 rgba(0, 0, 0, 0.747);
    margin-bottom: 5px;
  }
  a, Select {
    font-size: 20px;
    padding-top: 5px;
  }
  p {
    font-size: 3rem;
  }
}/*# sourceMappingURL=style.css.map */