.Tools img {
  filter: drop-shadow(1px 1px 5px #D9D9D9);
}

.lightmode nav {
  background-color: rgba(255, 255, 255, 0.149);
}
.lightmode header {
  background-color: #BFB1B1;
}
.lightmode a, .lightmode select {
  color: black;
}
.lightmode .aboutme {
  background-color: #D9D9D9;
}

.darkmode nav {
  background-color: rgba(255, 255, 255, 0.149);
}
.darkmode header {
  background-color: #0c614a;
}
.darkmode .aboutme {
  background-color: black;
}
.darkmode h1, .darkmode h2, .darkmode p, .darkmode a, .darkmode select, .darkmode label {
  color: white;
  text-decoration: none;
}
.darkmode body {
  background-color: #0c614a;
}
.darkmode .section2 .projects {
  background-color: rgba(0, 0, 0, 0.542);
}
.darkmode footer {
  background-color: rgba(0, 0, 0, 0.7294117647);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: justify;
}

nav {
  position: fixed;
  z-index: 6;
  width: 100%;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}

html {
  font-size: 75.5%;
}

h1 {
  font-size: 5rem;
  font-family: "Times New Roman";
  font-weight: bold;
  padding: 5px;
}

h2 {
  font-size: 3rem;
  font-family: "sahitya";
}

p {
  font-family: "monserrat";
  font-size: 1rem;
  z-index: 1;
}

a, select {
  position: relative;
  text-decoration: none;
  font-weight: bold;
}

header {
  width: 100%;
  padding-bottom: 135px;
  z-index: 0;
}
header .main-nav {
  display: inline-block;
  margin: 5px;
}
header .main-nav a, header .main-nav select {
  font-family: "poppins";
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 5px;
}

select {
  border: none;
  background-color: transparent;
}

.section1 {
  box-shadow: -2px 10px 9px 0 rgba(0, 0, 0, 0.747);
}
.section1 .aboutme {
  width: 100%;
  height: auto;
}

.footer-aboutme {
  font-size: 1.3rem;
  padding: 0 45px 20px 15px;
  margin-bottom: 5px;
}
.footer-aboutme img {
  width: 20px;
  border-radius: 2px;
  display: inline;
  margin-top: 13px;
}

.section2 .projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section2 .projects .body-projects {
  margin-right: 5%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section2 .projects .body-projects .projects-tab {
  width: 250px;
  margin: 5px;
  position: relative;
  text-align: left;
}
.section2 .projects .body-projects .projects-tab li {
  margin-top: -15px;
}
.section2 .projects .body-projects .projects-tab ul {
  margin: 10%;
  padding-left: 25px;
}
.section2 .projects .body-projects .projects-tab figcaption {
  margin-left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 16px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.section2 .projects .body-projects .projects-tab img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease, filter 0.5s ease;
  border: black solid 2px;
}
.section2 .projects .body-projects .projects-tab:hover .proyect_presentation {
  transform: scale(1.1);
  filter: opacity(0.5) blur(5px);
}
.section2 .projects .body-projects .projects-tab:hover figcaption {
  opacity: 1;
  color: black;
}

.section3 .contact footer {
  justify-content: left;
  border: black solid 2px;
}
.section3 .contact footer form {
  margin: 5px;
}
.section3 .contact footer form input, .section3 .contact footer form textarea {
  width: 100%;
}
.section3 .contact footer form input {
  height: 50px;
  margin-bottom: 20px;
}
.section3 .contact footer form #button {
  font-size: xx-large;
  background-color: black;
  color: white;
  transition-duration: 0.4s;
  width: 100%;
  height: 55px;
  font-family: "monserrat";
  font-weight: bold;
}
.section3 .contact footer form #button:hover {
  background-color: #4caf50;
}

@media (min-width: 320px) {
  p {
    padding: 15px 20px 0 15px;
    font-size: 1.5rem;
  }
  label {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 3rem;
  }
  ul {
    list-style-type: none;
  }
  #technologies_0, #technologies_1, #technologies_2 {
    height: 130px;
  }
  #technologies_0 img, #technologies_1 img, #technologies_2 img {
    width: 30px;
    height: 30px;
    border: none;
    margin: 4%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  #skillstext {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #skillstext ul, #skillstext li, #skillstext strong {
    list-style-type: none;
  }
  #skillstext img {
    width: 45px;
  }
  table {
    border: 1px solid black;
    width: 240px;
    align-items: center;
    margin: 1px;
    padding: 1%;
    margin-left: 13px;
  }
  td, tr {
    width: 50px;
  }
  #aboutmeskills {
    display: grid;
    justify-items: stretch;
  }
  #herramientasdiv {
    display: inline-flex;
    flex-wrap: wrap;
  }
  #herramientasdiv h4 {
    display: table-caption;
    font-size: large;
  }
  th {
    width: 100%;
    text-align: center;
  }
  td {
    text-align: center;
  }
  .header-aboutme {
    position: absolute;
    justify-self: anchor-center;
    top: 82px;
  }
  .header-aboutme .profile-image {
    width: 165px;
    border-radius: 50%;
    border: solid 2px black;
    box-shadow: -2px 10px 9px 0 rgba(0, 0, 0, 0.747);
  }
  #certificados {
    padding: 5%;
    align-content: stretch;
    text-align: justify;
  }
  .certifications {
    padding-bottom: 2%;
  }
  .imgcertifications {
    border-radius: 300px;
    margin-left: 2%;
    margin-right: 2%;
    border: solid black 2px;
    width: 50px;
    height: 30px;
    align-self: center;
  }
  h4 {
    padding: 2%;
  }
  #card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin-bottom: 5px;
  }
  .section1 {
    box-shadow: -2px 10px 9px 0 rgba(0, 0, 0, 0.747);
  }
  .section1 .aboutme {
    width: 100%;
    height: auto;
    padding-top: 104px;
  }
}
@media (min-width: 768px) {
  .body-aboutme p {
    font-size: 1.6rem;
  }
  .header-aboutme {
    left: 55%;
    top: 8%;
  }
  .header-aboutme .profile-image {
    border-radius: 50%;
    border: solid 2px black;
    box-shadow: -2px 10px 9px 0 rgba(0, 0, 0, 0.747);
  }
  #card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 5px;
    margin-bottom: 5px;
  }
  h4 {
    font-size: 22px;
    padding: 4%;
  }
  .section1 {
    box-shadow: -2px 10px 9px 0 rgba(0, 0, 0, 0.747);
  }
  .section1 .aboutme {
    width: 100%;
    height: auto;
    padding-top: 0;
  }
  table {
    border: 1px solid black;
    width: 230px;
    height: 490px;
    align-items: center;
    margin: 1px;
    padding: 1%;
    margin-left: 13px;
  }
}
.imgcertifications {
  border-radius: 300px;
  margin-left: 2%;
  margin-right: 2%;
  border: solid black 2px;
  padding: 3%;
  align-self: center;
}

#certificados {
  padding: 1%;
  align-content: stretch;
  text-align: justify;
}

.certifications p {
  padding-bottom: 2%;
}
.certifications #card {
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .body-aboutme p {
    font-size: 1.6rem;
  }
  .header-aboutme {
    left: 65%;
    top: 6%;
  }
  .header-aboutme .profile-image {
    border-radius: 50%;
    border: solid 2px black;
    box-shadow: -2px 10px 9px 0 rgba(0, 0, 0, 0.747);
  }
  h4 {
    font-size: 1.6rem;
    padding: 1%;
  }
  .imgcertifications {
    width: auto;
    padding: 3%;
  }
  .certifications {
    padding-bottom: 2%;
  }
  table {
    width: 221px;
    height: 475px;
  }
  #certificado {
    position: absolute;
    right: 0;
  }
  .certifications {
    padding-right: 21px;
  }
  #function_0, #function_1, #function_2 {
    height: 360px;
    padding: 9%;
  }
  #card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    gap: 5px;
    margin-bottom: 5px;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 50px;
}

.slider:before {
  content: "";
  position: absolute;
  height: 27px;
  width: 27px;
  border-radius: 50px;
  left: 4px;
  bottom: 0;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:checked + .slider:before {
  transform: translateX(30px);
}/*# sourceMappingURL=style.css.map */